#!/bin/sh

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

db_title "PHP"

phpver=php5

for SAPI in apache apache2
do
	# Skip this loop if the config file isn't there (yet).
	if [ -f "/etc/$phpver/$SAPI/php.ini" ]; then
		db_register $phpver-mapscript/add_extension $phpver/extension_mapscript_$SAPI

		# FIXME: this is the wrong answer if the SAPI package was
		# installed after the module was.
		if [ -n "$2" ] && dpkg --compare-versions "$2" ge 4:4.3.2+rc3-2
		then
			if [ -f "/etc/$phpver/$SAPI/conf.d/mapscript.ini" ]; then
				db_set $phpver/extension_mapscript_$SAPI true
			else
				db_set $phpver/extension_mapscript_$SAPI false
			fi
		fi

		db_subst $phpver/extension_mapscript_$SAPI extname Mapscript 
		db_subst $phpver/extension_mapscript_$SAPI sapiconfig $SAPI
		db_input low $phpver/extension_mapscript_$SAPI || true
	fi
done

db_go
